[Desktop Entry]
Name=adom
Comment=Save the world from Chaos
Comment[pl]=Uratuj świat przed siłami Chaosu
Icon=adom
# standard xterm is too small
Exec=xterm -geometry 80x25 -e /usr/games/adom
Terminal=false
Type=Application
Categories=ConsoleOnly;Game;RolePlaying;
# vi: encoding=utf-8
